html,
body {
    position: relative;
    height: 100%;
    font: normal 10px 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background: #f5f5f5;
    overflow-x: hidden;
}

h1, h2 { margin: 0; }

h1 { font-size: 4em; font-weight: normal; }

h2 { font-size: 3em; }

h3 { font-size: 2.2em; font-weight: normal; }

h4 { font-size: 1.8em }

h5 { font-size: 1.6em; }

p, li, td, th { font-size: 1.5em; }

td p, td li, th li,
li li, li p, li td, li th { font-size: 1em; }

table, th, td { border: 1px solid #555; border-collapse: collapse; }

th { text-align: center; }

.btn {
    font-family: 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, sans-serif;
    text-decoration: none; text-align: center;
    border: none;
    background: none;
    outline-width: 0;
}

.font-ui { font-family: 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, sans-serif; }

.font-title { font-family: 'Proxima N W01 Bold', Arial, Helvetica, sans-serif; }


/* Organization
---------------------------------------------------------------------------- */

.left { float: left; }

.right { float: right; }

.clear-fix { clear: both; display: block; }
    .clear-fix:after {
        content: ".";
        clear: both;
        display: block;
        height: 0;
        visibility: hidden;
    }

.row { display: table-row; }

.cell { display: table-cell; }

.btn-menu {
    display: inline-block;
    padding-left: 10px; padding-right: 10px;
    height: 25px;
    box-sizing: border-box;
    line-height: 24px;
    color: #f5f5f5;
    font-weight: 500;
    background-color: #464646;
    cursor: default;
    transition: .2s;
}
    .btn-menu:not(:disabled):not([data-disabled=true]):not(.selected):hover { 
        background-color: #005386;
    }
    .btn-menu.selected { background-color: #5497FF; }
    .btn-menu:disabled,
    .btn-menu[data-disabled=true] { 
        color: #f0f0f0;
        background-color: #808080;
        box-shadow: none;
    }

/* Reset */

.bare-list { margin: 0; padding: 0; list-style: none; }

.bare-link { text-decoration: none; color: inherit; }

.bare-table { border: none; table-layout: fixed; }

.bare-table td,
.bare-table th { 
    border: none;
}

.bare-table th {
    vertical-align: top;
    text-align: left;
}


.inline-link { text-decoration: underline; }

/* State
---------------------------------------------------------------------------- */

.hidden { display: none; }

.fit-content { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

* {
    box-sizing: border-box;
}