img {
    max-width: 80vw;
    height: auto;
}

p {
    text-align: justify;
}

.report-header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #fff;
}

.title-section {
    padding-left: 5vw;
    padding-right: 5vw;
}

.report-title {
    color: royalblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.report-summary {
    max-width: 800px;
    font-size: 1.4em;
    color: #555;
}

.section-title {
    margin-bottom: 6px;
    text-transform: uppercase;
    font-size: 2.4em;
    font-weight: 300;
}

.team-section {
    padding-left: 5vw;
    padding-right: 5vw;
}

.team-title {
    font-weight: 500;
    margin-bottom: 12px;
    color: #1C3A94;
}

.members {
    display: flex;
    flex-direction: row;
}

.member {
    display: flex;
    flex-direction: column;
}

.member:not(:last-child) {
    margin-right: 20px;
}

.member-pic {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.member-role {
    font-size: 0.9em;
    font-weight: 500;
    color: #555;
}

.discord-name {
    font-size: 0.9em;
    font-weight: 500;
    text-indent: 10px;
    color: #555;
}

.report-body {
    display: flex;
}

.report-aside {
    padding-top: 24px;
    padding-right: 12px;
    padding-left: 5vw;
    box-shadow: 1px 0 1px #999;
}

.report-main {
    padding-left: 12px;
    padding-right: 5vw;
    padding-top: 24px;
}

.nav {
    color: #E87429;
}

.nav-item__link {
    display: block;
    padding: 6px;
    text-decoration: none;
}

.glossary {
    font-size: 1.4em;
}

.preview-img {
    width: 600px;
    height: 400px;
}

.report-footer {
    background-color: #2C5EB4;
    padding: 12px 5vw 24px;
}

.report-footer p {
    margin: 0;
}

.report-footer__link {
    color: #fff;
}