/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

#wanteeed html,
#wanteeed body,
#wanteeed div,
#wanteeed span,
#wanteeed applet,
#wanteeed object,
#wanteeed iframe,
#wanteeed h1,
#wanteeed h2,
#wanteeed h3,
#wanteeed h4,
#wanteeed h5,
#wanteeed h6,
#wanteeed p,
#wanteeed blockquote,
#wanteeed pre,
#wanteeed a,
#wanteeed abbr,
#wanteeed acronym,
#wanteeed address,
#wanteeed big,
#wanteeed cite,
#wanteeed code,
#wanteeed del,
#wanteeed dfn,
#wanteeed em,
#wanteeed img,
#wanteeed ins,
#wanteeed kbd,
#wanteeed q,
#wanteeed s,
#wanteeed samp,
#wanteeed small,
#wanteeed strike,
#wanteeed strong,
#wanteeed sub,
#wanteeed sup,
#wanteeed tt,
#wanteeed var,
#wanteeed b,
#wanteeed u,
#wanteeed i,
#wanteeed center,
#wanteeed dl,
#wanteeed dt,
#wanteeed dd,
#wanteeed ol,
#wanteeed ul,
#wanteeed li,
#wanteeed fieldset,
#wanteeed form,
#wanteeed label,
#wanteeed legend,
#wanteeed table,
#wanteeed caption,
#wanteeed tbody,
#wanteeed tfoot,
#wanteeed thead,
#wanteeed tr,
#wanteeed th,
#wanteeed td,
#wanteeed article,
#wanteeed aside,
#wanteeed canvas,
#wanteeed details,
#wanteeed embed,
#wanteeed figure,
#wanteeed figcaption,
#wanteeed footer,
#wanteeed header,
#wanteeed hgroup,
#wanteeed menu,
#wanteeed nav,
#wanteeed output,
#wanteeed ruby,
#wanteeed section,
#wanteeed summary,
#wanteeed time,
#wanteeed mark,
#wanteeed audio,
#wanteeed video,
#wanteeed button {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;
	font: inherit;*/
    font: 13px "Verdana", sans-serif;
    text-align: left;
    vertical-align: baseline;
    -webkit-box-shadow: none;
    -webkit-box-sizing: initial;
    box-sizing: initial;
    box-shadow: none;
    color: #555555;
    text-transform: none;
}


/* HTML5 display-role reset for older browsers */

#wanteeed article,
#wanteeed aside,
#wanteeed details,
#wanteeed figcaption,
#wanteeed figure,
#wanteeed footer,
#wanteeed header,
#wanteeed hgroup,
#wanteeed menu,
#wanteeed nav,
#wanteeed section {
    display: block;
}

#wanteeed body {
    line-height: 1;
}

#wanteeed ol,
#wanteeed ul {
    list-style: none;
}

#wanteeed blockquote,
#wanteeed q {
    quotes: none;
}

#wanteeed blockquote:before,
#wanteeed blockquote:after,
#wanteeed q:before,
#wanteeed q:after {
    content: '';
    content: none;
}

#wanteeed table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*report*/

#wanteeed-report html,
#wanteeed-report body,
#wanteeed-report div,
#wanteeed-report span,
#wanteeed-report applet,
#wanteeed-report object,
#wanteeed-report iframe,
#wanteeed-report h1,
#wanteeed-report h2,
#wanteeed-report h3,
#wanteeed-report h4,
#wanteeed-report h5,
#wanteeed-report h6,
#wanteeed-report p,
#wanteeed-report blockquote,
#wanteeed-report pre,
#wanteeed-report a,
#wanteeed-report abbr,
#wanteeed-report acronym,
#wanteeed-report address,
#wanteeed-report big,
#wanteeed-report cite,
#wanteeed-report code,
#wanteeed-report del,
#wanteeed-report dfn,
#wanteeed-report em,
#wanteeed-report img,
#wanteeed-report ins,
#wanteeed-report kbd,
#wanteeed-report q,
#wanteeed-report s,
#wanteeed-report samp,
#wanteeed-report small,
#wanteeed-report strike,
#wanteeed-report strong,
#wanteeed-report sub,
#wanteeed-report sup,
#wanteeed-report tt,
#wanteeed-report var,
#wanteeed-report b,
#wanteeed-report u,
#wanteeed-report i,
#wanteeed-report center,
#wanteeed-report dl,
#wanteeed-report dt,
#wanteeed-report dd,
#wanteeed-report ol,
#wanteeed-report ul,
#wanteeed-report li,
#wanteeed-report fieldset,
#wanteeed-report form,
#wanteeed-report label,
#wanteeed-report legend,
#wanteeed-report table,
#wanteeed-report caption,
#wanteeed-report tbody,
#wanteeed-report tfoot,
#wanteeed-report thead,
#wanteeed-report tr,
#wanteeed-report th,
#wanteeed-report td,
#wanteeed-report article,
#wanteeed-report aside,
#wanteeed-report canvas,
#wanteeed-report details,
#wanteeed-report embed,
#wanteeed-report figure,
#wanteeed-report figcaption,
#wanteeed-report footer,
#wanteeed-report header,
#wanteeed-report hgroup,
#wanteeed-report menu,
#wanteeed-report nav,
#wanteeed-report output,
#wanteeed-report ruby,
#wanteeed-report section,
#wanteeed-report summary,
#wanteeed-report time,
#wanteeed-report mark,
#wanteeed-report audio,
#wanteeed-report video,
#wanteeed-report button {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;*/
    text-align: left;
    font: 13px "Verdana", sans-serif;
    vertical-align: baseline;
    -webkit-box-shadow: none;
    -webkit-box-sizing: initial;
    box-sizing: initial;
    box-shadow: none;
    color: #555555;
    text-transform: none;
}


/* HTML5 display-role reset for older browsers */

#wanteeed-report article,
#wanteeed-report aside,
#wanteeed-report details,
#wanteeed-report figcaption,
#wanteeed-report figure,
#wanteeed-report footer,
#wanteeed-report header,
#wanteeed-report hgroup,
#wanteeed-report menu,
#wanteeed-report nav,
#wanteeed-report section {
    display: block;
}

#wanteeed-report body {
    line-height: 1;
}

#wanteeed-report ol,
#wanteeed-report ul {
    list-style: none;
}

#wanteeed-report blockquote,
#wanteeed-report q {
    quotes: none;
}

#wanteeed-report blockquote:before,
#wanteeed-report blockquote:after,
#wanteeed-report q:before,
#wanteeed-report q:after {
    content: '';
    content: none;
}


/*main item **/

.wanteeed-main-item html,
.wanteeed-main-item body,
.wanteeed-main-item div,
.wanteeed-main-item span,
.wanteeed-main-item applet,
.wanteeed-main-item object,
.wanteeed-main-item iframe,
.wanteeed-main-item h1,
.wanteeed-main-item h2,
.wanteeed-main-item h3,
.wanteeed-main-item h4,
.wanteeed-main-item h5,
.wanteeed-main-item h6,
.wanteeed-main-item p,
.wanteeed-main-item blockquote,
.wanteeed-main-item pre,
.wanteeed-main-item a,
.wanteeed-main-item abbr,
.wanteeed-main-item acronym,
.wanteeed-main-item address,
.wanteeed-main-item big,
.wanteeed-main-item cite,
.wanteeed-main-item code,
.wanteeed-main-item del,
.wanteeed-main-item dfn,
.wanteeed-main-item em,
.wanteeed-main-item img,
.wanteeed-main-item ins,
.wanteeed-main-item kbd,
.wanteeed-main-item q,
.wanteeed-main-item s,
.wanteeed-main-item samp,
.wanteeed-main-item small,
.wanteeed-main-item strike,
.wanteeed-main-item strong,
.wanteeed-main-item sub,
.wanteeed-main-item sup,
.wanteeed-main-item tt,
.wanteeed-main-item var,
.wanteeed-main-item b,
.wanteeed-main-item u,
.wanteeed-main-item i,
.wanteeed-main-item center,
.wanteeed-main-item dl,
.wanteeed-main-item dt,
.wanteeed-main-item dd,
.wanteeed-main-item ol,
.wanteeed-main-item ul,
.wanteeed-main-item li,
.wanteeed-main-item fieldset,
.wanteeed-main-item form,
.wanteeed-main-item label,
.wanteeed-main-item legend,
.wanteeed-main-item table,
.wanteeed-main-item caption,
.wanteeed-main-item tbody,
.wanteeed-main-item tfoot,
.wanteeed-main-item thead,
.wanteeed-main-item tr,
.wanteeed-main-item th,
.wanteeed-main-item td,
.wanteeed-main-item article,
.wanteeed-main-item aside,
.wanteeed-main-item canvas,
.wanteeed-main-item details,
.wanteeed-main-item embed,
.wanteeed-main-item figure,
.wanteeed-main-item figcaption,
.wanteeed-main-item footer,
.wanteeed-main-item header,
.wanteeed-main-item hgroup,
.wanteeed-main-item menu,
.wanteeed-main-item nav,
.wanteeed-main-item output,
.wanteeed-main-item ruby,
.wanteeed-main-item section,
.wanteeed-main-item summary,
.wanteeed-main-item time,
.wanteeed-main-item mark,
.wanteeed-main-item audio,
.wanteeed-main-item video,
.wanteeed-main-item button {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;*/
    text-align: left;
    font: 13px "Verdana", sans-serif;
    vertical-align: baseline;
    -webkit-box-shadow: none;
    -webkit-box-sizing: initial;
    box-sizing: initial;
    box-shadow: none;
    color: #555555;
    text-transform: none;
}


/* HTML5 display-role reset for older browsers */

.wanteeed-main-item article,
.wanteeed-main-item aside,
.wanteeed-main-item details,
.wanteeed-main-item figcaption,
.wanteeed-main-item figure,
.wanteeed-main-item footer,
.wanteeed-main-item header,
.wanteeed-main-item hgroup,
.wanteeed-main-item menu,
.wanteeed-main-item nav,
.wanteeed-main-item section {
    display: block;
}

.wanteeed-main-item body {
    line-height: 1;
}

.wanteeed-main-item ol,
.wanteeed-main-item ul {
    list-style: none;
}

.wanteeed-main-item blockquote,
.wanteeed-main-item q {
    quotes: none;
}

.wanteeed-main-item blockquote:before,
.wanteeed-main-item blockquote:after,
.wanteeed-main-item q:before,
.wanteeed-main-item q:after {
    content: '';
    content: none;
}

#wanteeed-report table {
    border-collapse: collapse;
    border-spacing: 0;
}

#wanteeed-progress-bar div {
    background-size: 30px 30px;
    color: white;
    background-color: rgb(209, 43, 53);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    /*-webkit-animation: animate-stripes 3s linear infinite;*/
}


/*@-webkit-keyframes animate-stripes {
            from {
                background-position: 0 0;
            }
            to {
                background-position: 60px 0;
            }
        }*/