.report-main {
    width: 85vw;
    margin-right: 12px;
}

.scenarios ol {
    counter-reset: item;
}

.scenarios ol li {
    display: block;
}

.scenarios ol li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
}

.scenarios ul {
    list-style-type: none;
}

.scenarios ol ul {
    list-style-type: disc;
}

.scenarios ol ul li::before {
    content: initial;
}